## Setup

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sys.path.append('..')  # Adjust this path to ensure it correctly points to the project root

from src.data.data_loader import load_country_data, load_target_data, load_trial_site_data, load_trial_data

## Data

In [2]:
# Load the data
df_country = load_country_data()
df_target = load_target_data()
df_trial_site = load_trial_site_data()
df_trial = load_trial_data()

print("Country Data:")
print(df_country.columns.values)
display(df_country.dtypes)
display(df_country.head())
display(df_country.describe())

print("\nTarget Data:")
print(df_target.columns.values)
display(df_target.dtypes)
display(df_target.head())
display(df_target.describe())

print("\nTrial Site Data:")
print(df_trial_site.columns.values)
display(df_trial_site.dtypes)
display(df_trial_site.head())
display(df_trial_site.describe())

print("\nTrial Data:")
print(df_trial.columns.values)
display(df_trial.dtypes)
display(df_trial.head())
display(df_trial.describe())

Country Data:
['country_id' 'nn_region' 'population'
 'share_of_female_youth_unemployment' 'share_of_male_youth_unemployment'
 'oecd_pharma_expenditure_per_capita' 'oecd_medical_grads_per_1k'
 'oecd_MDs_per_1k' 'oecd_hospital_beds_per_1k' 'oecd_MR_units_per_1m'
 'oecd_pte_units_total' 'oecd_hypnotics_sedatives_per_1k'
 'oecd_antidepressants_per_1k' 'oecd_nervous_system_drugs_per_1k'
 'oecd_perc_pop_insured_by_gov_health'
 'oecd_perc_pop_insured_by_priv_health'
 'oecd_perc_pop_insured_by_priv_or_gov_health'
 'wb_diabetes_prevalence_perc_pop_age_20_to_79'
 'who_gho_ncd_paa_prev_insuff_physical_activity'
 'who_gho_ncd_paa_prev_insuff_physical_activity_male'
 'who_gho_ncd_paa_prev_insuff_physical_activity_female'
 'who_gho_mh_4_gov_exp_on_mental_perc_of_total_health'
 'who_gho_mh_12_suicide_rate_per100k'
 'who_gho_mh_16_beds_in_mental_hospitals_100k'
 'who_gho_mh_13_beds_for_mental_in_gen_hospitals_100k'
 'who_gho_gdo_q35_est_pop_prev_depression'
 'who_gho_whosis_000001_life_expec_at_birth_w'
 'who_gho_NCD_BMI_30A_obesity_prevalence_adults'
 'who_gho_ghed_oopsche_sha2011_oop_expenditure_pct_current_health_expenditure'
 'who_gho_ghed_che_pc_us_sha2011_curr_health_exp_per_capita_usd'
 'who_gho_ghed_che_pc_ppp_sha2011_curr_health_exp_per_capita_ppp'
 'who_gho_ghed_chegdp_sha2011_curr_health_exp_perc_gdp'
 'who_gho_sdgpm25_pm25_concentration_val'
 'who_gho_air_90_air_pollution_dalys_val'
 'who_gho_hwf_0025_prc_female_medical_doctors']

country_id                                                                      object
nn_region                                                                       object
population                                                                     float64
share_of_female_youth_unemployment                                             float64
share_of_male_youth_unemployment                                               float64
oecd_pharma_expenditure_per_capita                                             float64
oecd_medical_grads_per_1k                                                      float64
oecd_MDs_per_1k                                                                float64
oecd_hospital_beds_per_1k                                                      float64
oecd_MR_units_per_1m                                                           float64
oecd_pte_units_total                                                           float64
oecd_hypnotics_sedatives_per_1k                                                float64
oecd_antidepressants_per_1k                                                    float64
oecd_nervous_system_drugs_per_1k                                               float64
oecd_perc_pop_insured_by_gov_health                                            float64
oecd_perc_pop_insured_by_priv_health                                           float64
oecd_perc_pop_insured_by_priv_or_gov_health                                    float64
wb_diabetes_prevalence_perc_pop_age_20_to_79                                   float64
who_gho_ncd_paa_prev_insuff_physical_activity                                  float64
who_gho_ncd_paa_prev_insuff_physical_activity_male                             float64
who_gho_ncd_paa_prev_insuff_physical_activity_female                           float64
who_gho_mh_4_gov_exp_on_mental_perc_of_total_health                            float64
who_gho_mh_12_suicide_rate_per100k                                             float64
who_gho_mh_16_beds_in_mental_hospitals_100k                                    float64
who_gho_mh_13_beds_for_mental_in_gen_hospitals_100k                            float64
who_gho_gdo_q35_est_pop_prev_depression                                        float64
who_gho_whosis_000001_life_expec_at_birth_w                                    float64
who_gho_NCD_BMI_30A_obesity_prevalence_adults                                  float64
who_gho_ghed_oopsche_sha2011_oop_expenditure_pct_current_health_expenditure    float64
who_gho_ghed_che_pc_us_sha2011_curr_health_exp_per_capita_usd                  float64
who_gho_ghed_che_pc_ppp_sha2011_curr_health_exp_per_capita_ppp                 float64
who_gho_ghed_chegdp_sha2011_curr_health_exp_perc_gdp                           float64
who_gho_sdgpm25_pm25_concentration_val                                         float64
who_gho_air_90_air_pollution_dalys_val                                         float64
who_gho_hwf_0025_prc_female_medical_doctors                                    float64
dtype: object

,country_id,nn_region,population,share_of_female_youth_unemployment,share_of_male_youth_unemployment,oecd_pharma_expenditure_per_capita,oecd_medical_grads_per_1k,oecd_MDs_per_1k,oecd_hospital_beds_per_1k,oecd_MR_units_per_1m,...,who_gho_gdo_q35_est_pop_prev_depression,who_gho_whosis_000001_life_expec_at_birth_w,who_gho_NCD_BMI_30A_obesity_prevalence_adults,who_gho_ghed_oopsche_sha2011_oop_expenditure_pct_current_health_expenditure,who_gho_ghed_che_pc_us_sha2011_curr_health_exp_per_capita_usd,who_gho_ghed_che_pc_ppp_sha2011_curr_health_exp_per_capita_ppp,who_gho_ghed_chegdp_sha2011_curr_health_exp_perc_gdp,who_gho_sdgpm25_pm25_concentration_val,who_gho_air_90_air_pollution_dalys_val,who_gho_hwf_0025_prc_female_medical_doctors
0,DEU,Germany,81776930.0,NaN,NaN,662.0,12.0,3.0,8.0,27.0,...,5.19315,80.16794,19.9,13.96,4611.81,4320.84,11.10,11.71044,341.83661,42.457
1,BRA,LATAM,195713637.0,NaN,NaN,248.0,NaN,1.0,2.0,5.0,...,5.75637,74.09258,19.2,29.39,896.70,1137.78,7.95,11.49020,590.99677,40.337
2,TWN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USA,North America,309327143.0,NaN,NaN,986.0,6.0,2.0,3.0,31.0,...,5.85717,78.56299,32.3,12.25,7930.15,7930.15,16.35,7.55348,333.04617,31.755
4,ISR,SEEMEA,7623600.0,NaN,NaN,269.0,4.0,3.0,3.0,2.0,...,4.61045,81.55505,24.2,23.81,2234.95,2101.58,7.02,19.46223,320.49954,41.066

,population,share_of_female_youth_unemployment,share_of_male_youth_unemployment,oecd_pharma_expenditure_per_capita,oecd_medical_grads_per_1k,oecd_MDs_per_1k,oecd_hospital_beds_per_1k,oecd_MR_units_per_1m,oecd_pte_units_total,oecd_hypnotics_sedatives_per_1k,...,who_gho_gdo_q35_est_pop_prev_depression,who_gho_whosis_000001_life_expec_at_birth_w,who_gho_NCD_BMI_30A_obesity_prevalence_adults,who_gho_ghed_oopsche_sha2011_oop_expenditure_pct_current_health_expenditure,who_gho_ghed_che_pc_us_sha2011_curr_health_exp_per_capita_usd,who_gho_ghed_che_pc_ppp_sha2011_curr_health_exp_per_capita_ppp,who_gho_ghed_chegdp_sha2011_curr_health_exp_perc_gdp,who_gho_sdgpm25_pm25_concentration_val,who_gho_air_90_air_pollution_dalys_val,who_gho_hwf_0025_prc_female_medical_doctors
count,4.900000e+01,1.0,1.0,37.000000,32.000000,34.000000,37.000000,31.000000,27.000000,24.000000,...,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,41.000000
mean,9.443743e+07,1.0,2.0,458.918919,10.093750,2.382353,4.405405,10.870968,111.518519,14.750000,...,4.883237,76.841678,18.740816,25.343878,2317.808776,2307.489184,7.725918,18.659551,682.131898,47.006951
std,2.550349e+08,NaN,NaN,180.064090,3.236479,1.073502,2.671448,10.177563,311.218371,14.522097,...,0.566825,4.894360,7.387741,13.179156,2261.576272,1684.656191,2.569098,14.351418,560.841060,14.273183
min,1.331475e+06,1.0,2.0,120.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.342900,57.143310,1.400000,8.510000,45.130000,145.470000,3.200000,5.882970,144.038040,14.239000
25%,7.623600e+06,1.0,2.0,346.000000,8.000000,2.000000,2.000000,5.000000,5.000000,5.000000,...,4.568470,74.204360,17.700000,15.230000,545.290000,1057.450000,5.980000,11.487840,296.398160,37.676000
50%,2.203175e+07,1.0,2.0,463.000000,10.500000,2.500000,4.000000,7.000000,17.000000,11.000000,...,4.881860,77.284280,19.800000,20.550000,1296.540000,1878.510000,7.740000,15.149440,548.043340,45.241000
75%,6.502750e+07,1.0,2.0,561.000000,12.000000,3.000000,6.000000,15.000000,59.500000,17.250000,...,5.156700,80.583660,23.500000,34.020000,4249.600000,3562.180000,9.520000,20.076350,903.730770,55.814000
max,1.337705e+09,1.0,2.0,986.000000,20.000000,5.000000,13.000000,46.000000,1570.000000,54.000000,...,5.940260,82.681620,32.300000,65.180000,7930.150000,7930.150000,16.350000,78.384860,3037.958980,74.219000

Target Data:
['trial_id' 'site_id' 'no_of_patients' 'enrolment_months']

trial_id              int64
site_id               int64
no_of_patients      float64
enrolment_months    float64
dtype: object

   trial_id  site_id  no_of_patients  enrolment_months
0         0        0             1.0          0.228995
1         1        1            20.0               NaN
2         1        2            31.0               NaN
3         1        3             7.0         13.576580
4         2        4             3.0         13.556150

          trial_id      site_id  no_of_patients  enrolment_months
count  1331.000000  1331.000000     1232.000000       1144.000000
mean      3.978212   496.178062        8.036526          7.932271
std       3.459146   306.305610       12.213420          6.603582
min       0.000000     0.000000        0.000000         -0.306510
25%       1.000000   232.500000        2.000000          1.948659
50%       4.000000   476.000000        4.000000          6.978005
75%       5.000000   752.500000        9.000000         12.942249
max      15.000000  1066.000000      173.000000         26.381913

Trial Site Data:
['trial_id' 'site_id' 'country_id' 'site_start_date' 'site_end_date'
 'site_type']

trial_id            int64
site_id             int64
country_id         object
site_start_date    object
site_end_date      object
site_type          object
dtype: object

   trial_id  site_id country_id site_start_date site_end_date     site_type
0         0        0        DEU      2017-01-30    2019-04-15  Practitioner
1         1        1        BRA      2018-05-07    2022-04-03         Other
2         1        2        TWN      2018-04-29    2022-03-26      Academic
3         1        3        USA      2018-05-07    2020-02-04  Practitioner
4         2        4        ISR      2018-04-22    2020-06-26      Academic

          trial_id      site_id
count  1331.000000  1331.000000
mean      3.978212   496.178062
std       3.459146   306.305610
min       0.000000     0.000000
25%       1.000000   232.500000
50%       4.000000   476.000000
75%       5.000000   752.500000
max      15.000000  1066.000000

Trial Data:
['trial_id' 'exclusion_criteria' 'inclusion_criteria' 'trial_phase'
 'maximum_age' 'minimum_age' 'is_novo_nordisk_trial' 'is_top_20_sponsor']

trial_id                   int64
exclusion_criteria        object
inclusion_criteria        object
trial_phase               object
maximum_age              float64
minimum_age              float64
is_novo_nordisk_trial      int64
is_top_20_sponsor          int64
dtype: object

,trial_id,exclusion_criteria,inclusion_criteria,trial_phase,maximum_age,minimum_age,is_novo_nordisk_trial,is_top_20_sponsor
0,0,Any prior measurement of LVEF <or= 40% under s...,Left ventricular ejection fraction (LVEF) >40%...,III,0.0,45.0,0,1
1,1,Receiving therapy with an SGLT2 inhibitor with...,Provision of signed informed consent prior to ...,III,130.0,40.0,0,0
2,2,Premature discontinuation of study treatment i...,Signed and dated Informed Consent Form (ICF).\...,II,0.0,18.0,0,0
3,3,A self-reported change in body weight above 5 ...,"- Male or female, age above or equal to 18 yea...",III,0.0,18.0,1,1
4,4,- Any prior measurement of LVEF < 40%. \n-Acut...,-Written informed consent must be obtained bef...,III,0.0,50.0,0,1

,trial_id,maximum_age,minimum_age,is_novo_nordisk_trial,is_top_20_sponsor
count,16.000000,16.000000,16.000000,16.000000,16.000
mean,7.500000,59.750000,29.812500,0.125000,0.625
std,4.760952,57.678997,14.652503,0.341565,0.500
min,0.000000,0.000000,18.000000,0.000000,0.000
25%,3.750000,0.000000,18.000000,0.000000,0.000
50%,7.500000,74.500000,18.000000,0.000000,1.000
75%,11.250000,99.250000,40.000000,0.000000,1.000
max,15.000000,150.000000,60.000000,1.000000,1.000